<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>It seems something went wrong.. We are awfully sorry: {{ status_text }}</title>
</head>
<body>

<h1>Oops! An Error Occurred... Even Experts don't know how to help you.. :((((</h1>

<h2>Wise owl says: "{{ status_code }} {{ status_text }}".</h2>

<div>
    <img src="{{ asset('images/404.jpg') }}">
</div>

<div class="container">
    <nav class="navbar navbar-inverse" role="navigation">
        <div class="navbar-footer">
            <a class="navbar-brand">Copyright © 2015. Slavka-JD. Life is but a game </a>
        </div>
    </nav>
</div>
</body>
</html>
