{% extends 'AppBundle:TeamPlayer:teamplayer.html.twig' %}

{% block forms %}
    <p>Добавление нового игрока:</p>
    <div class="col-md-12">
        <form role="form" method="post">
            {{ form_widget(form) }}
        </form>
        <br>
        <a href="{{ path('app_team_view') }}">скрыть</a>
    </div>
{% endblock %}