{% extends 'AppBundle:Event:add.html.twig' %}

{% block forms %}
    <p>Добавление нового события:</p>
    <div class="col-md-12">
        <form role="form" method="post">
            {{ form_widget(form) }}
        </form>
        <br>
        <a href="{{ path('app_event_view') }}">скрыть</a>
    </div>
{% endblock %}