{% extends ":default:layout.html.twig" %}
{% trans_default_domain "messages" %}

{% block content %}

    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <img src="{{ asset('images/owl.jpg') }}">
            </div>

            <div class="col-md-8">
                <div class="'row">
                    <h1 style="font-family: Verdana, Arial, Helvetica, sans-serif; font-style: initial; font-size: 25pt;">
                        <img src="{{ asset('images/chgk.png') }}">
                        {{ "title.title_brand"|trans() }} </h1>

                    <p style="font-family:'Times New Roman', Times, serif; font-size: 15pt;"> {{ "title.title_text"|trans() }}

                    <p>

                    <p style="font-family: Tahoma, serif; font-size: 25pt;">Also sprach Zaratustra</p>
                    <audio controls="controls">
                        <source src="/chgk_ck/web/audio/audio.mp3" type="audio/mp3">
                    </audio>
                    </p>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
