{% extends ":default:layout.html.twig" %}
{% trans_default_domain "messages" %}
{% block content %}

    <div class="container">
        <div class="'row">
            <div class="col-md-4">
                <img src="{{ asset('images/owl.jpg') }}">
            </div>

            <div class="col-md-8">
                <div class="'row">
                    <p>
                        <img src="{{ asset('images/chgk.png') }}">
                        Cherkassy club of intellectual games - is an intellectual game show well
                        known in Russian-language media and other CIS states since the mid-1970s. Today it is
                        produced for television by TV Igra on the Russian Channel One and also exists as a competitive
                        game played in clubs organized by the World Association of Clubs. Over 21 000 teams worldwide
                        play sport version of game, based on the TV show.
                    </p>

                    <p>

                    <p>Also sprach Zaratustra</p>
                    <audio autoplay="autoplay" controls="controls">
                        <source src="/chgk_ck/web/audio/audio.mp3" type="audio/mp3">
                    </audio>
                    </p>
                </div>
            </div>
        </div>
    </div>

{% endblock %}